<footer class="footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" target="_blank">
        <i class="fab fa-facebook" ></i>
        <!-- Facebook Icon -->
      </a>
      <a href="#" target="_blank">
        <i class="fab fa-twitter"></i>
        <!-- Twitter Icon -->
      </a>
      <a href="#" target="_blank">
        <i class="fab fa-instagram" style="color: red; "></i>
        <!-- Instagram Icon -->
      </a>
    </div>

    <div class="footer-links">
      <a href="#" class="link">Privacy Policy</a>
      <a href="#" class="link">Terms of Use</a>
      <span class="copyright"
        >&copy; 2024 YourCompany. All rights reserved.</span
      >
    </div>
  </div>
</footer>
