
<!-- First Carousal on landing page -->
 <div class="main">
<div
  id="carouselExampleControlsNoTouching"
  class="carousel slide"
  data-bs-touch="false"
  data-bs-ride ="carousel"
  data-bs-interval="2000"
>
<div id="carousel-outer"> 
<div  class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/3427609/pexels-photo-3427609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/3987217/pexels-photo-3987217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>  
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControlsNoTouching"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Shopping categories -->

<div class="container">
<div class="header">
  <h2>Categories</h2>
  <button class="view-all">View All</button>
</div>
<div class="card-container">
  <div class="card">
    <img
      src="../assets/Images/catego_grocery.jpg"
      alt="Groceries"
      class="card-image"
    />
    <p class="card-title">Groceries</p>
  </div>
  <div class="card">
    <img
      src="../assets/Images/catego_dairy.jpg"
      alt="Dairy"
      class="card-image"
    />
    <p class="card-title">Dairy</p>
  </div>
  <div class="card">
    <img
      src="../assets/Images/catego_personalcare.jpg"
      alt="Personal Care"
      class="card-image"
    />
    <p class="card-title">Personal Care</p>
  </div>
  <div class="card">
    <img
      src="../assets/Images/catego_snacks.jpg"
      alt="Snacks"
      class="card-image"
    />
    <p class="card-title">Snacks</p>
  </div>
  <div class="card">
    <img
      src="../assets/Images/beverages.jpg"
      alt="Beverages"
      class="card-image"
    />
    <p class="card-title">Beverages</p>
  </div>
  <div class="card">
    <img
      src="../assets/Images/catego_books.jpg"
      alt="Books & Stationary"
      class="card-image"
    />
    <p class="card-title">Books & Stationary</p>
  </div>
</div>
</div>

<!-- offers part  -->
<div class="carousel-container">
  <div class="header">
    <h2>Offers</h2>
  </div>
  <div id="main">
    <div class="offer-content">
    <p >
      Shop unbeatable deals at our online grocery store! Enjoy 20% off fresh produce, Buy 1 Get 1 Free on select items, and 30% off holiday essentials. New shoppers get 10% off their first order. Save up to 40% on bulk buys and enjoy free delivery on orders over ₹999. Start saving on your groceries today!</p>
    </div>
    <div class="offer-carousel">   
    <div class="carousel">
      <img
        *ngFor="let image of images; let i = index"
        [src]="image"
        [class.active]="i === currentIndex"
        alt="Image {{ i + 1 }}"
        class="carousel-image"
      />
    </div>
    <button class="prev-btn" (click)="prevImage()">&#10094;</button>
    <button class="next-btn" (click)="nextImage()">&#10095;</button>
  </div> 
  </div>
</div>


</div>

